<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lista-produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>
      <h3>{{produto.id}} - {{produto.titulo}}</h3>
      <h4>R${{produto.preco}}</h4>
      <p>{{produto.descricao}}</p>
    </ion-label>
    <ion-button color="warning" [routerLink]="['/produto',produto.id]">Editar</ion-button>
    <ion-button color="danger" (click)='deletarProduto(produto.id)'>Deletar</ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button [routerLink]="['/criar-produto']" routerLinkActive="button-active" fill="outline" color="dark">Criar Produto</ion-button>
  </ion-item>
</ion-content>
