<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let cliente of listaClientes">
    <ion-label>
      <h5>{{cliente.id}} - {{cliente.nome}}</h5>
      <a href="emailto:{{cliente.email}}">{{cliente.email}}</a>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-button [routerLink]="['/criar-cliente']" routerLinkActive="button-active" fill="outline" color="dark">Criar Cliente</ion-button>
  </ion-item>
</ion-content>
